<div class="header_area">
    {% load static %}
      <div class="logo floatleft"><a href="#"><img src="{% static 'images/logo.png' %}" alt="" style="height: 90px; width: 170px" /></a></div>
      <div class="top_menu floatleft">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Subscribe</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
      <div class="social_plus_search floatright">
        <div class="social">
          <ul>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="feed"></a></li>
          </ul>
        </div>
        <div class="search">
          <form action="" method="get" id="search_form">
              {% csrf_token %}
            <input type="text" name="country" placeholder="Search news" id="s" />
            <input type="submit" id="searchform" value="search" />
          </form>
        </div>
      </div>
    </div>