<div class="main_menu_area">
      <ul id="nav">
        <li><a href="#">world news</a>
          <ul>
            <li><a href="#">Middle East</a></li>
            <li><a href="#">Africa</a></li>
            <li><a href="#">Asia</a></li>
            <li><a href="{% url 'home' %}?country=us">US</a></li>
            <li><a href="#">Canada</a></li>
          </ul>
        </li>
        <li><a href="{% url 'home' %}?category=sports">sports</a></li>

        </li>
        <li><a href="#">business</a></li>
        <li><a href="#">general</a>
        </li>
        <li><a href="#">health</a></li>
        <li><a href="#">science</a></li>
        <li><a href="#">technology</a>

        </li>
        <li><a href="#">United States</a></li>
        <li><a href="#">India</a></li>
      </ul>
    </div>