 <div class="slider_area">
     {% load static  %}
      <div class="slider">
        <ul class="bxslider">
          <li><img src="{% static 'images/King_charles.jpg' %}" style="width: 100%" alt="" title="Here's the first image we've seen of King Charles III today ahead of his coronation." /></li>
          <li><img src="{% static 'images/anti_monarchy.jpg' %}" alt="" style="width: 100%" title="Anti-monarchy protests in London" /></li>
        </ul>
      </div>
    </div>