{% for article in articles %}
<div class="single_left_coloum floatleft"> <img src="{{ article.urlToImage }}" alt="" />
              <h3>{{ article.title }}</h3>
              <p>{{ article.description }}</p>
              <a class="readmore" href="{{ article.url }}" target="_blank">read more</a> </div>
{% endfor %}